# Do not delete any row from this dataset

### Write df = df.fillna(0) instead

In [2]:
import pandas as pd
df = pd.read_csv("country_vaccinations.csv")
df = df.fillna(0)

## Q1. Total number of people vaccinated in Argentina (Atlease Once)

In [3]:
df[df['country']=='Argentina']['people_vaccinated'].max()

7261176.0

## Q2. Total number of countries in this dataset

In [4]:
len(df['country'].unique())

195

## Q3. Maximum number of people vaccinated in a country

In [5]:
data = []
for country in df['country'].unique():
    data.append([country,df[df['country']==country]['people_vaccinated'].max()])
pd.DataFrame(data,columns=['country','people_vaccinated']).sort_values(by = 'people_vaccinated',ascending = False)

                              country  people_vaccinated
187                     United States        148562891.0
78                              India        129730641.0
186                    United Kingdom         34795074.0
25                             Brazil         30921100.0
51                            England         29124310.0
..                                ...                ...
153                      Saudi Arabia                0.0
150                             Samoa                0.0
149  Saint Vincent and the Grenadines                0.0
55                           Ethiopia                0.0
2                             Algeria                0.0

[195 rows x 2 columns]

## Q4. Top 5 Countries in terms of number of people vaccinated

In [6]:
data = []
for country in df['country'].unique():
    data.append([country,df[df['country']==country]['people_vaccinated'].max()])
pd.DataFrame(data,columns=['country','people_vaccinated']).sort_values(by = 'people_vaccinated',ascending = False).head()

            country  people_vaccinated
187   United States        148562891.0
78            India        129730641.0
186  United Kingdom         34795074.0
25           Brazil         30921100.0
51          England         29124310.0